<div ng-controller="PostsController" class="container">
 <div class="new-post content">

    <input ng-model="body" class="form-control " placeholder="What would you like to share?"/>
    <button ng-click="addPost()" type="button" class="btn btn-primary"> Add post </button>
     </div>


    <ul class="list-group list-posts">

        <li ng-repeat="post in posts" class="list-group-item no-radius">
            <strong class="post-author">
                @{{post.username}}
            </strong>
            <p class="post">
                {{post.body}}
            </p>
   
            <button type="button" class="btn btn-outline-danger btn-delete-post" ng-click="removePost()" >Delete</button>
        </li>
    </ul>

</div>